#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
	padding: 5px 0px;
}

circle, rect {
	stroke: #333;
}

.continent {
	text-transform: capitalize;
}

.year-text {
	fill: #CCC;
	font-size: 5em;
	font-weight: bold;
	letter-spacing: 0.5px;
}